body {
  margin: 0;
}

.kanye-container {
  background-image: url("/src/desktop-kanye.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
}
.main-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#textContainer {
  width: fit-content;
  padding: 30px;
  border-radius: 10px;
  background-color: green;
  background-image: u;
}

#quoteButton {
  cursor: pointer;
  background-color: grey;
  border-radius: 5px;
  padding: 5px;
  width: 80px;
  align-self: flex-end;
}

#quoteButton:hover {
  background-color: aliceblue;
}
